<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<canvas id="board" width="800" height="600" style="border:1px solid #000000;">
</canvas>


<label for="name">Name</label>
<input id=name> </input>
<button id="register">Register</button>
<ul "playerList">
  <li>Christophe</li>
  <li>Toto</li>
</ul>
