<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<canvas id="board" width="800" height="600" style="border:1px solid #000000;">
</canvas>

<div id="registerForm">
  <label for="name">Name</label>
  <input id=name> </input>
  <button id="register">Register</button>
</div>
<ul id="usersList">
  <%=for {token, name} <- users do %>
    <li id="<%=token%>"><%=name%></li>
  <% end %>
</ul>
